/* Heading shows on 1024px or less */


.about-section__headding-mobile h2 {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.about-section__text-container {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    row-gap: 16px;
}

.about-section__text-container p {
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
}



/*=== MEDIA QUERY ===*/

@media screen and (min-width:1024px) {
    .about-section__headding-mobile h2 {
        display:none;
    }
}