/* Heading shows on 1024px or less */


.about-section__headding-mobile h2 {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.about-section__text-container {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    row-gap: 16px;
}

.about-section__text-container p {
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
}

.about-section__text-container p span {
    font-weight: 500;
    color:var(--primary-text);
}

/*=== MEDIA QUERY ===*/

@media screen and (min-width:1024px) {
    .about-section__headding-mobile h2 {
        display:none;
    }

}
@media screen and (max-width:1024px) {
    
    .about-section__text-container {
        padding:0px;
    }

    .about-section__headding-mobile {
        position:sticky;
        top:0;
        line-height: 26px;
        padding:20px 48px;
        margin:0 0 16px -48px;
        z-index: 10;
        background-color: rgba(15, 23, 42, .75);
        backdrop-filter: blur(8px);
    }
}