.header__socials-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin:32px 0 0 4px;
}
.heaer__socials-icon {
    color:var(--secondary-text);
    font-size:24px;
    transition:var(--transition-primary);
}
.heaer__socials-icon:hover {
    color:var(--primary-text);
}