footer > p {
    font-size: 14px;
    line-height:20px;
    font-weight:300;
    color:var(--disabled-color);
    transition: var(--primary-transition);
    margin-bottom: 16px;
}

footer > p span, 
footer > p a {
    font-weight: 500;
    color: var(--primary-text);
}

footer > p a:hover {
    color:var(--hover-blue);
}