@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primary-dark:#0f172a;
    --primary-text:#E2E8F0;
    --secondary-text:#94A3B8;
    --hover-blue:#5eead4;

    --disabled-color:#64748b;

    --text-highlight-bg:#57D9D5;
    --text-highlight-color:#134e4a;
    --experience-hover-bg:rgba(30, 41, 59, 0.5);
    --tags-bg:rgba(45, 212, 191, .1);

    --transition-primary:all .15s cubic-bezier(.4,0,.2,1);


}

::selection {
    background-color: var(--text-highlight-bg); 
    color: var(--text-highlight-color); 
}
  
/* For WebKit browsers (Chrome, Safari) */
::-webkit-selection {
    background-color: var(--text-highlight-bg);
    color: var(--text-highlight-color);
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: "Inter Tight", sans-serif;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
a,
h2 {
    color:var( --primary-text);
}

p {
    color:var(--secondary-text);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding:0 96px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    column-gap: 16px;
}

main#content {
    width:50%;
    padding:96px 0;
}

section#about {
    scroll-margin-top: 96px;
    margin-bottom: 144px;
}