.archive__container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    column-gap: 16px;
    padding:96px 0;
}

.archive__content {
    width:100%;
    padding:0 96px;
}

.archive__link {
    color:var(--hover-blue);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
.archive__back-to-home-icon {
    margin-top: 1px;
    transition: var(--transition-primary);
    transform: translateX(0px);
}
.archive__link:hover .archive__back-to-home-icon {
    transform:translateX(-5px)
}
.archive__content h1 {
    width:100%;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.2px;
    color: var(--primary-text);
    margin-top:8px;
}

.archive__table {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    margin-top: 48px;
    text-indent: 0;
    border-color: inherit;
}

.archive__table-head-sticky {
    position:sticky;
    top:0;
    line-height: 26px;
    padding:20px 24px;
    z-index: 10;
    background-color: rgba(15, 23, 42, .75);
    backdrop-filter: blur(8px);
    border-bottom:1px solid rgba(203, 213, 225, 0.1);
}

.archive__table-head-sticky th {
    color:var(--primary-text);
    font-size: 14px;
    font-weight: 600;
    padding: 16px 32px 16px 1px;
    line-height:20px
}

.archive__table tbody tr:not(:last-child) {
    border-bottom:1px solid rgba(203, 213, 225, .1);
}

.archive__table tbody td {
    padding:16px 16px 16px 1px;
    vertical-align: top;
}

.archive__table-year {
    width:5%;
    font-size: 14px;
    color: var(--secondary-text);
    font-weight: 500;
    line-height: 20px;
}

.archive__table-title {
    width:25%;
    font-size: 16px;
    color:var(--primary-text);
    font-weight: 600;
    line-height: 22px;
}

.archive__table-made-at {
    width:15%;
    font-size: 14px;
    color: var(--secondary-text);
    font-weight: 500;
    line-height: 20px;
}
.archive__table-built-with {
    width:35%;
}
.archive__table-built-with ul {
    
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    column-gap:6px;
    row-gap:8px;
}

.archive__table-built-with li div{
    background-color: var(--tags-bg);
    color: var(--hover-blue);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    padding: 4px 12px;
    border-radius:50px;
}

.archive__table-link {
    width:20%;
}

.archive__table-link a {
    width:15%;
    font-size: 14px;
    color: var(--secondary-text);
    font-weight: 500;
    line-height: 20px;
    transition: var(--transition-primary);
}

.archive__table-link-icon {
margin-left: 4px;
font-size: 16px;
color: var(--primary-text);
transform:translate(-1px, 3px);
transition:var(--transition-primary);
}

.archive__table-link a:hover,
.archive__table-link a:hover .archive__table-link-icon {
color: var(--hover-blue);
}

.archive__table-link a:hover .archive__table-link-icon {
transform:translate(4px, 0px);
}

.archive__project-link-icon {
    margin-left: 4px;
    font-size: 16px;
    color: var(--primary-text);
    transform:translate(0px, 4px);
    transition:var(--transition-primary);

}

.archive__project-link:hover .archive__project-link-icon {
    color: var(--hover-blue);
    transform:translate(4px, 0px);
}

.last-word-icon {
    white-space: nowrap;
  }
  
/*=== MEDIA QUERY ===*/

@media screen and (max-width:1024px) {

    .archive__container {
        padding:80px 0;
    }

    .archive__content {
        padding:0 48px;
    }

    .archive__table-made-at,
    .archive__table-built-with,
    .archive__table-head-sticky tr > th:nth-child(3),
    .archive__table-head-sticky tr > th:nth-child(4) {
        display:none;
    }

    .archive__table-year {
        width:8%;
    }

    .archive__table-title {
        width:57%;
    }

    .archive__table-link {
        width:35%;
    }
}

@media screen and (max-width:767px) {
    
    .archive__container {
        padding:48px 0;
    }

    .archive__content {
        padding:0 24px;
    }

    .archive__table-year {
        width:10%;
    }

    .archive__table-title {
        width:47.5%;
    }

    .archive__table-link {
        width:42.5%;
    }
}

@media screen and (max-width:640px) {

    .archive__table-link,
    .archive__table-head-sticky tr > th:nth-child(5) {
        display:none;
    }

    .archive__table-year {
        width:8%;
    }

    .archive__table-title {
        width:92%;
    }

    .archive__table-title > a{
    transition:var(--transition-primary);
    }
    
    .archive__table-title a:hover  {
        color: var(--hover-blue);
    }
}